<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CrearGalaxia</servlet-name>
        <servlet-class>principal.CrearGalaxia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ObtenerGalaxia</servlet-name>
        <servlet-class>principal.ObtenerGalaxia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AnnadirPlaneta</servlet-name>
        <servlet-class>principal.AnnadirPlaneta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MostrarGalaxia</servlet-name>
        <servlet-class>principal.MostrarGalaxia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ObtenerPlaneta</servlet-name>
        <servlet-class>principal.ObtenerPlaneta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ObtenerPlanetaMostrar</servlet-name>
        <servlet-class>principal.ObtenerPlanetaMostrar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidarGalaxia</servlet-name>
        <servlet-class>principal.ValidarGalaxia</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CrearGalaxia</servlet-name>
        <url-pattern>/CrearGalaxia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ObtenerGalaxia</servlet-name>
        <url-pattern>/ObtenerGalaxia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AnnadirPlaneta</servlet-name>
        <url-pattern>/AnnadirPlaneta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MostrarGalaxia</servlet-name>
        <url-pattern>/MostrarGalaxia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ObtenerPlaneta</servlet-name>
        <url-pattern>/ObtenerPlaneta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ObtenerPlanetaMostrar</servlet-name>
        <url-pattern>/ObtenerPlanetaMostrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidarGalaxia</servlet-name>
        <url-pattern>/ValidarGalaxia</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
