<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CrearGalaxia</servlet-name>
        <servlet-class>principal.CrearGalaxia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AnnadirPlaneta</servlet-name>
        <servlet-class>principal.AnnadirPlaneta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MostrarGalaxia</servlet-name>
        <servlet-class>principal.MostrarGalaxia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ObtenerPlaneta</servlet-name>
        <servlet-class>principal.ObtenerPlaneta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidarGalaxia</servlet-name>
        <servlet-class>principal.ValidarGalaxia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>principal.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registrarse</servlet-name>
        <servlet-class>principal.Registrarse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BorrarPlaneta</servlet-name>
        <servlet-class>principal.BorrarPlaneta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarPlaneta</servlet-name>
        <servlet-class>principal.ModificarPlaneta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExplorarGalaxia</servlet-name>
        <servlet-class>principal.ExplorarGalaxia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CerrarSesion</servlet-name>
        <servlet-class>principal.CerrarSesion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CrearGalaxia</servlet-name>
        <url-pattern>/CrearGalaxia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AnnadirPlaneta</servlet-name>
        <url-pattern>/AnnadirPlaneta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MostrarGalaxia</servlet-name>
        <url-pattern>/MostrarGalaxia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ObtenerPlaneta</servlet-name>
        <url-pattern>/ObtenerPlaneta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidarGalaxia</servlet-name>
        <url-pattern>/ValidarGalaxia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registrarse</servlet-name>
        <url-pattern>/Registrarse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BorrarPlaneta</servlet-name>
        <url-pattern>/BorrarPlaneta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarPlaneta</servlet-name>
        <url-pattern>/ModificarPlaneta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExplorarGalaxia</servlet-name>
        <url-pattern>/ExplorarGalaxia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CerrarSesion</servlet-name>
        <url-pattern>/CerrarSesion</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
